.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

div.dkLogo img {
    width: 30%;
    display: block;
    margin: auto;
}

p {
    font-size: 23px;
    line-height: 1.2;
    text-align: justify;
}

i{
    margin-left: 10px;
}

a {
    color: inherit;
}

button {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 30px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

p.terms {
    font-size: 15px;
    text-align: center;
}

.mainText {
    width: 60%;
    margin: auto;
}

.productInfo {
    width: 60%;
    margin: auto;
}

.lastLine {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.socialMedia {
    background-color: #d2d4cf;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.colColor {
    background-color: #d2d4cf;
}

div.points ul li {
    font-size: 23px;
    line-height: 1.2;
    text-align: left;
}

div.productImage img {
    display: block;
    margin: auto;
}

.clickHere {
    background-color: #ffb300;
    color: #000000;
    display: block;
    margin: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*Mobile*/
@media only screen and (min-width: 421px) and (max-width: 767px) {
    div.dkLogo img {
        width: 95%;
    }

    .mainText {
        width: 95%;
    }

    .productInfo {
        width: 95%;
    }

    .lastLine {
        width: 95%;
    }

    .socialMedia {
        width: 100%;
    }
}